h2 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-weight: bold;
}

#testing {
    width: 100%;
    position: absolute;
    z-index: 1;
}

#ffh {
    width: 100px;
    top: 10px;
    position: relative;
    float: right;
    background-color: black;
}

#ff {
    margin: 10px 0px;
}
/* switch display between 'display: none;' and 'display: inline-flex;' for hiding and showing info*/
#fishinfo {
    margin: 0% 10%;
    height: 200px;
    bottom: 0px;
    width: -webkit-fill-available;
    position: absolute;
    background-color: black;

    display: none;
    flex-direction: column;
    justify-content: center;
}

.fishdata {
    color: white;
    margin: 4% 10%;
}

#fname {
    color: white;
    margin: 1% 0%;
    text-align: center;
}