h2 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-weight: bold;
}

#testing {
    width: 100%;
    position: fixed;
    top: 20px;
}

#ffh {
    width: 100px;
    top: 10px;
    position: relative;
    float: right;
    background-color: black;
}

#fish {
    margin: 10px 0px;
}